
<body>

    <div class="row">
      <div class="col-sm-9">
        <h1>Places</h1>
      </div>
      <ul class="col-sm-9">
        <a href="/places/new" class="btn btn-success">New Post</a>
            
       </div>
   
    </div>

    <%= yield %>

  
</body>
</html>

